.header {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__wrapper-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
.header__nav {
  background-color: rgb(179, 52, 52);
  display: flex;
  justify-content: space-around;
  padding: 15px;
  color: white;
  list-style: none;
}
